body {
    margin:0;
    padding: 0;
    background-image: url(resim/arka.jpg);
    background-position: center;
    background-size: cover;
}

ul{
    
    background-color: white;
    list-style-type: none;
    width: 100%;
    height: 8%;
    position: fixed;
    margin:0;
    padding:0;
    top:0;
    overflow-y:hidden;
    border-radius: 3rem;
    
}

li {
    float:right;
    
}
li a {
    color:black;
    padding:18px 32px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.home {
    background-color: darkkhaki;
    color:white;
}

li a:hover {
    background-color: darkkhaki;
    color: white;
}



.ana{
    padding: 8px 8px;
    margin-top: 20px;
    margin-left: 70px;
    margin-right:70px ;
    line-height: inherit; /*yazı kalınlığı */

}

#giris {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}


/*fotoğraflsrın animasyonlu olması baslangic */

.main{
	text-align:center;
	padding-top:50px;
    margin-top: 70px;
}

.main img{
	height:300px;
	border-radius:100%;
	box-shadow:1px 2px 3px 0 rgba(0,0,0,.2);
}

.main .content-images{
	position:relative;
	display:inline-block;
}

.main .img-1,
.main .img-2,
.main .img-3,
.main .img-4 {
	position:absolute;
	top:0;
	transition:250ms all;
}

.main .content-images:hover .img-1{
	left:190px;
	z-index:4;
}

.main .content-images:hover .img-2{
	left:310px;
}

.main .content-images:hover .img-3{
	right:190px;
	z-index:4;
}

.main .content-images:hover .img-4{
	right:330px;
}

.main .img-1, .main .img-2{
	left:10px;
}

.main .img-3, .main .img-4{
	right:1px;
}

.main .img-1, .main .img-3{
	height:200px;
	top:40px;
}

.main .img-2, .main .img-4{
	height:150px;
	top:70px;
}

.main .main-img{
	position:relative;
	z-index:5;
}

/*bitis*/

/*sebzelerhakkinda.html */
.sebzecesitleri {
    float:left;
    margin-top:50px;
    margin-left: 70px;
    margin-right: 7%;
    padding: 16px 20px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*yemektarifleri.html */

.filtre {
    float:left;
    
    margin-top: 130;
    margin-left: 0;
    height: 100%;
    width: 150px;
    overflow-x: hidden;
    
    background-size: cover;
    
    
    
}
.abc{
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    margin-top: 0;
    vertical-align: middle;
    
   
}
.son {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}


.kategori {
    float:right;
    margin-top:70px;
    margin-right: 20px;
    
}

.secim {
    margin-top: 30px;
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 2rem;
    border:0px
}



.box-container {
    margin-left: 160px;
    margin-right: 50px;
    margin-bottom: 50px;

}

.box:hover .foto{
    transform: scale(1.1);
    

}

.box { /*arkalarındaki beyaz kutu */
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 3rem;
    width: 250;
    justify-content: space-between;
    height: 450px;
    margin-left: 30px;
    display: inline-block;
    margin-top: 20px;

}

.foto { /*kutu içine foto */
    width: 200px;
    height: 300px;
    border-radius: 1rem;
    margin-left: 25px;
    margin-top: 30px;
    object-fit: cover;
    transition: 0.5s all  ease-in-out;
    
    
}

.baslik { /*yemeğin altına yemeğin adı */
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: none;
    color: black;
}


.button { /*yemeklerin tarifine giden buton*/
    border-radius: 1rem;
    margin-block-start: 30px;
    margin-left: 50px;
    width: 150px;
    border: 3px solid darkkhaki;
    height: 60px;
}


.mesaj { /*kaç kalori olduğunu gösteren mesaj  */
    margin-top: 20px;
    background-color: white;
    display: none;
    
}





.hesap { /* buton ve yazı kutucuğunun tutulduğu yer*/
    margin-top: 150px;
    margin-left: 500px;
    margin-bottom: 50px;
    
  }

  #yemek { /*yemeğin adının yazıldığı textbox */
    width: 400px;
    height: 50px;
    border-radius: 2rem;
    border: 2px solid darkkhaki;
    
  }

  #hesapla { /*hesapla butonu */
    border-radius: 1rem;
    width:100px ;
    height: 47px;
    border: 2px solid purple;
  }

  #cikti { /*mesajı yazdırır */
    margin-left: 140;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }



/*tarif sayfaları */

#geri {
    margin-top: 40px;
    margin-left: 70px;
    border: 2px solid orange;
    width: 160px;
    height: 50px;
    background-color: white;
    border-radius: 2rem;
   overflow:hidden;
   display: block;

}

#linki {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#malzemeler {
    text-align: center;
    margin-top:10px;
    font-size: 20px;
    background-color: white;
    border-radius: 2rem;
    width: 400px;
    
}
#ekstra{
    
    margin-bottom: 20px;
    
    width: 250px;
    object-fit:cover;
}

.tablotarif {
    margin-left:70px;
    border: 1px;
    margin-top: 50px;
    margin-bottom: 30px;
    
    
}
#adımlar { /*tarifin aşamaları*/
    font-size: 18px;
    margin-top: 70px;
}

#button2 {
    
   margin-left: 20px;
    border: 0px;
    background-color:transparent;
}
#logo {
    margin-top: 0px;
    margin-right: 50px;
}






/*motivasyon sayfası */
.motivasyon {
    margin-top: 70px;
    margin-left: 70px;
    width: 400px;
    height: 70px;
    border-radius: 1rem;
    border: 2px solid orange;

}

#pdf {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.kayan-yazi{
    text-align: center;
    margin: 7px;
    background-color: white;
}
.kayan-yazi:hover {
    animation: kayan-yazi 1s linear infinite;
  }
  @keyframes kayan-yazi {
    from {
      transform: translateX(5%);
    }
    to {
      transform: translateX(-5%);
    }
  }

.blog {
    margin-top: 100px;
    margin-left: 130px;
    
   
    border-radius: 1rem;
}

.blogfoto {
    width: 400px;
    object-fit: cover;
    margin: 7px;
    border-radius: 1rem;
    
}

.a{
    background-color: white;
    margin-left: 10px;
}


